<html>  
   <body>  
      <form action = "http://localhost:5005/recommendations" method = "post">  
         <table>  
        <tr><td>Name</td>  
        <td><input type ="text" name ="uname"></td></tr>  
        <tr><td>Password</td>  
        <td><input type ="password" name ="pass"></td></tr>  
        <td> Preference 1<input type ="number" name ="preference 1"></td></tr>  
        <td> Preference 2<input type ="number" name ="preference 2"></td></tr> 
        <td> Preference 3<input type ="number" name ="preference 3"></td></tr>   
        <td> Ordenado por rating<input type="checkbox" name="rating" checked> </td>
        <tr><td><input type = "submit"></td></tr>  
    </table>  
      </form>  
   </body>  
   <section>
      <H3> Preference sheet --- type the number</H3>
      <p> Comedy ... 1</p>
      <p> Drama ... 2</p>
      <p> Sci-fi ... 3</p>
      <p> Romantic ... 4</p>
      <p> Adventure ... 5</p>
   </section>
</html>  